In [ ]:
ssh key
git status # which brach we are and what happened 
git add .  # this tells git hub which file changes you want to add to the next commit
git commit -m "" # this makes a snapshot of changes you have made
git push origin main # origin = name of remote reprository main = brach name

# Python Class

## Print

In [8]:
print ("welcome to python class",end="")
print ("Hello world")

print ("hello hello")

welcome to python classHello world
hello hello

In [9]:
#comment COmment COMMENT
#hello im comment in another line

In [11]:
print ("Wwlcome", "to", "python" ,"class", sep=" " , end="\n")
print("Welcome","to","Broadway",sep="@")

Wwlcome to python class
Welcome@to@Broadway

In [14]:
print ("Welcome", end=" ")
print("to", end=" + ")
print("python", end=" - ")
print("class")

Welcome to + python - class

In [15]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

## Keywords

In [16]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [17]:
#Memory optimization

a = 5
b = 5
print(id(a))
print(id(b))

140709885092904
140709885092904

In [20]:
a,b = 4,8
b,a = a,b
a,b

(8, 4)

In [23]:
first_name, last_name = "Sakar" , "Khanal"
first_name, last_name = last_name, first_name

print(first_name)
print(last_name)

example_variable = "hey i'm just a variable "
print (example_variable)

Khanal
Sakar
hey i'm just a variable

In [24]:
#dynamically typed
a = 5
b = 5.0
c = "hi"
d = [9,8,0]

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>

## Input

In [28]:
user_entered_value = input("Enter your Value: ")
print(user_entered_value)
print(type(user_entered_value))

x=int(input())
print(x)
print (type(x))

Enter your Value:  5

5
<class 'str'>

 5

5
<class 'int'>

In [36]:
user_entered_value1 = int (input("Enter Value 1: "))
user_entered_value2 = int (input("Enter Value2: "))
Addition = user_entered_value1 + user_entered_value2
print (Addition)

Enter Value 1:  1
Enter Value2:  2

3

In [41]:
#Assignment
# Since we called python aas dynamically typed, how user entered value can be dynamically read from input()
# hint : eval()
# Make a calculator where user will give 2 numbers and  a operator. Based on the operation, the operation on those 2 numbers user 
# entered should be displayed to the user

In [14]:
num_1 = eval(input("Enter a number"))
num_2 = eval(input("Enter another number"))
operator = input("choose an operator")
if operator == '+' :
    print(num_1 + num_2)
elif  operator == '-' :
    print(num_1 - num_2)
elif operator == '*' :
    print(num_1 * num_2)
elif operator == '/' :
    if num_2== 0 :
        print("the number cannot be divided")
    else :
        print(num_1 / num_2)

Enter a number 1.5
Enter another number 2.5
choose an operator +

4.0

## Datatypes

### String

#### General

In [47]:
name = "My name is Sakar"
surname = 'My surname is \
Khanal'
fullname = """My full name is
Sakar Khanal"""
print(name)
print(surname)
print(fullname)

My name is Sakar
My surname is Khanal
My full name is
Sakar Khanal

In [50]:
# \ is an escape sequence as after ram it escapes '
jpt_var = 'she is Ram\'s love'
jpt_var

"she is Ram's love"

#### String formatting

In [51]:
# Using f-string

In [53]:
name = "Sakar"
age = 23
sentence = f"My name is {name} and i am {age} years old."
print(sentence)

#You can also use .format() method
sentence2 = "My name is {} and I am {} years old.".format(name,age)
print(sentence2)

My name is Sakar and i am 23 years old.
My name is Sakar and I am 23 years old.

#### String concatination

In [60]:
#Concatinating two strings using the + operator
greeting = "Hello"
name = "Sakar"
message = greeting +", " + name + "!"
print(message)

Hello, Sakar!

In [62]:
#Concatinating string using the join method

s1 = 'String'
s2 = 'Concatination'

s3 =' '.join([s1,s2])
print(s3)

String Concatination

In [64]:
#Concatinating strings using the format() method

s1,s2,s3 = 'Python','String','Concatenation'
s='{} {} {}'.format(s1, s2, s3)
print(s)

Python String Concatenation

In [18]:
#Concatinating strings using  f-strings
s1, s2, s3 = 'Python','String','Concatination' 
s = f'{s1} {s2} {s3}'
print(s)

Python String Concatination

In [20]:
#Concatinating string using %-formatting
s1, s2, s3 = 'Python','String','Concatination' 
s = '%s %s %s' % (s1, s2, s3)
print(s)

Python String Concatination

#### String methods

In [22]:
text = "python is fun!"
print(text.lower())  #Converts string to lowercase
print(text.upper())  #Converts string to uppercase
print(text.capitalize())
print(text.title())

python is fun!
PYTHON IS FUN!
Python is fun!
Python Is Fun!

In [37]:
text ="******Python is fun!*******"
print(text.lstrip("*"))   #Removes leading and trailing spaces
print(text.rstrip("*"))   
print(text.strip("*"))

Python is fun!*******
******Python is fun!
Python is fun!

In [40]:
text ="Python is fun!"
print (text.replace("fun","boring")) #Replace a substring
print (text.split())  #Splits string into list of words

Python is boring!
['Python', 'is', 'fun!']

In [59]:
big_one = "hey there, who is there, there should be someone in there"
big_one.replace("there", "")

'hey , who is ,  should be someone in '

In [61]:
print(big_one.split("there") )

['hey ', ', who is ', ', ', ' should be someone in ', '']

In [58]:
#extracting domain name 
email_addr = "sakar@broadway.com"
email_parts = email_addr.split("@")
print (email_parts)
email_parts [1]

['sakar', 'broadway.com']

'broadway.com'

In [80]:
#String indexing
fullname = "Hari Prasad"

print(len(fullname))
print(fullname[0])
print(fullname[-1])

print(fullname[0:-1])
print(fullname[:10])
print(fullname[1:14])
print(fullname[10:])
print(fullname[::2])
print(fullname[1::2]) 
print(fullname[::-1]) #reverse

11
H
d
Hari Prasa
Hari Prasa
ari Prasad
d
Hr rsd
aiPaa
dasarP iraH

#### Assignment

Q no 1.
Card validator:
Ask user to enter the credit card number
validate the card number: The card number should have 4 segments each segment should contain 4 characters and is speparatedby "-"
for example: 1234-1234-1234-1234 This is valid card. 123-4560-2345_3455 is invalid
 
Mask the card number by masking first 3 segments: For example: XXXX-XXXX-XXXX-1234

In [2]:

card = input("Enter credit card number: ")

parts = card.split("-")

# validating card format
if len(parts) == 4 and len(parts[0]) == 4 and len(parts[1]) == 4 and len(parts[2]) == 4 and len(parts[3]) == 4:
    
    print("Valid card number")
    
    # mask first 3 segments
    masked = "XXXX-XXXX-XXXX-" + parts[3]
    print("Masked card number:", masked)

else:
    print("Invalid card number")

Enter credit card number:  23123-31-23-124-124-

Invalid card number

Qno 2. 
We found an issue in the production system.
The log is showing various errors and error codes.
The format of log is consistent and the pattern is always looks like this:
 
INFO 200: User login successful at 09:15AM
INFO 201: New user registered at 09:20AM
WARNING 301: Resource moved temporarily at 09:45AM
WARNING 408: Request timeout at 10:05AM
ERROR 404: Page not found at 10:45PM
ERROR 500: Internal server error at 11:10PM
 
From this log, extract only the errors and the error codes at error timings
 
How many logs are there for each: info, warning, error

In [104]:
logs = (
    "INFO 200: User login successful at 09:15AM",
    "INFO 201: New user registered at 09:20AM",
    "WARNING 301: Resource moved temporarily at 09:45AM",
    "WARNING 408: Request timeout at 10:05AM",
    "ERROR 404: Page not found at 10:45PM",
    "ERROR 500: Internal server error at 11:10PM"
)
info_count = 0
warning_count = 0
error_count = 0
print("Error Logs:")
for log in logs:
    if log.split()[0] == "INFO":
        info_count += 1

    elif log.split()[0] == "WARNING":
        warning_count += 1

    elif log.split()[0] == "ERROR":
        error_count += 1
        print(
            "Error Code:", log.split()[1].replace(":", ""),
            "Time:", log.split()[-1]
        )

print("\nSummary:")
print("INFO logs:", info_count)
print("WARNING logs:", warning_count)
print("ERROR logs:", error_count)

Error Logs:
Error Code: 404 Time: 10:45PM
Error Code: 500 Time: 11:10PM

Summary:
INFO logs: 2
WARNING logs: 2
ERROR logs: 2

### Integer

In [85]:
year = 2020
month = int("11")
day = int(float("1.1"))
print("{}/{}/{}".format(year, month, day))

2020/11/1

#### Example: Calculating total cost after applying discount

In [91]:
original_price = 100
discount = 20
discounted_price = original_price * discount / 100
print(f"Discounted price is:{discounted_price}")
final_price = original_price - discounted_price
print(f"Original price:{original_price}, 
Discount:{20}%  
The final price is: {final_price}")

Discounted price is:20.0
Original price:100 Discount:20%  The final price is: 80.0

### Float

In [7]:
#area of circle

pi = 3.14159265
r = float("1.45")
area = pi*r*r
a= pi*r**2
print("area of circle is:",area,a)

area of circle is: 6.605198546625 6.605198546625001

#### Precision with floats

In [12]:
0.3 + 0.5

0.8

In [14]:
coin_add = 0.1 + 0.2
if round(coin_add, 5)==0.3:
    print("Correct")
else:
    print("INcorrect")

Correct

In [19]:
#Float precision can be a cncern due to float-pointing arithmatic errors

value = 0.1 + 0.2
print(value) #Might not exactly be 0.3 due to precison issues (Binary representation and)

#we can round teh result to a specific number of decimal places
rounded_value = round(value,2)
print (rounded_value)

0.30000000000000004
0.3

### List

In [25]:
#Creating a list with different types of true elements
my_list = [1,"apple",3.14,True]
print(my_list)

[1, 'apple', 3.14, True]

#### Accessing List Elements

In [26]:
#Accesing list by index
print(my_list[0]) #first element
print(my_list[1]) #second element
print(my_list[-1]) #last element

1
apple
True

#### Modifying list elements

In [41]:
# Lists are mutable, so we can change an element by index
my_list[1] = "banana"
print(my_list)

[1, 'banana', 3.14, True]

#### Slicing the list

In [33]:
#Slicing a list (extracting a portion)

#start:stop:step
my_list = [1,"apple", 3.14, True]

sub_list = my_list[1:3]
print(sub_list)

['apple', 3.14]

In [40]:
numbers = [1,2,3,4,5,6,7,8,9]
sub_list = numbers[0]
print(sub_list)
print(len(numbers))
print(numbers[0])

print(numbers[:4])
print(numbers[1:4])
print(numbers[3:])
print(numbers[1::2]) #can print even number
print(numbers[0::2]) #can print odd number
print(numbers[::-1]) #reversing the list

1
9
1
[1, 2, 3, 4]
[2, 3, 4]
[4, 5, 6, 7, 8, 9]
[2, 4, 6, 8]
[1, 3, 5, 7, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

#### List operations

In [43]:
#List operations (adding,removing, slicing)
my_list = [1,"apple",3.14,True]

my_list.append("grape") #Adds "grape" to the end of the list
print(my_list)

my_list.remove(3.14) #Remove first occurance of 3.14
print(my_list)

#Slicing a list(extracting a portion)
sublist = my_list[1:3]
print(sublist) #["banana",True]

[1, 'apple', 3.14, True, 'grape']
[1, 'apple', True, 'grape']
['apple', True]

#### List Methods

In [47]:
numbers = [4,6,8]

numbers.insert(1,5) #numbers.insert(index,element)
numbers.insert(3,7)

print(numbers)

[4, 5, 6, 7, 8]

In [48]:
names = ["Gagan","Ram","Gagan","Hari"]
names.remove("Gagan")   #Removes only the first occurance
print(names)

['Ram', 'Gagan', 'Hari']

In [63]:
numbers =[]

numbers.append(1)
print(numbers)

numbers.insert(1,2)
print(numbers)

new_numbers = [3,4,5]
numbers.extend(new_numbers) #Add elements of another list
print(numbers)

numbers.reverse() #only prints from back, no short
print(numbers)

numbers.sort(reverse=False)
print(numbers)

numbers.pop()  #removes last value
print(numbers)

numbers.pop(2) #pops or removes from index value
print(numbers)

numbers.remove(2) #removes the absolute value
print(numbers)

[1]
[1, 2]
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]
[1, 2, 3, 4]
[1, 2, 4]
[1, 4]
[1, 4]
[4, 1]

In [3]:
numbers=[1,4,5,6,3,2]
numbers.sort()
print(numbers)

numbers.sort(reverse=True)
print(numbers)

[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]

#### Assignment

Q no 1. Movie Ticket Pricing

A cinema charges:
	•	Rs 200 per adult
	•	Rs 120 per child

A family booking is stored as:
tickets = ["adult", "adult", "child", "child", "adult"]

Calculate the total ticket cost using list methods only (no loops).

In [1]:
tickets = ["adult", "adult", "child", "child", "adult"]
ticket_cost = tickets.count("adult")* 200 + tickets.count("child")*120
print(ticket_cost)

840

Q no 2. Monthly expenses are stored as:
expenses = [1200, 950, 1100, 1300, 1250]

Find:
	•	The highest expense
	•	The lowest expense
	•	The difference between them

In [4]:
expenses = [1200, 950, 1100, 1300, 1250]
highest = max(expenses)
lowest = min(expenses)
diff = highest - lowest

print("Highest expense -", highest)
print("Lowest expense -", lowest)
print("Difference -", diff)

Highest expense - 1300
Lowest expense - 950
Difference - 350

Q no 3. Marks of a student in 5 subjects:

marks = [78, 85, 90, 88, 76]

Calculate:
	•	Total marks
	•	Percentage (out of 500)

In [5]:
marks = [78, 85, 90, 88, 76]
total = sum(marks)
percentage = (total / 500) * 100

print("Total marks -", total)
print("Percentage -", percentage)

Total marks - 417
Percentage - 83.39999999999999

Q no 4. A taxi app records ride distance (km) and base fare:

distance = 12.5
base_fare = Rs 50

Fare rules:
	•	Rs 10 per km
	•	Add base fare

Calculate the total fare.

In [18]:
distance = 12.5
base_fare = 50
rate_per_km = 10
total_fare = base_fare + (distance * rate_per_km)
print("Total fare = Rs", total_fare)

Total fare = Rs 175.0

Q no 5. Employee Email Generator

User enters employee details:

name = input("Enter full name: ")
emp_id = input("Enter employee ID: ")

Create an official email:
	•	first 3 letters of first name
	•	last 2 letters of last name
	•	last 3 digits of employee ID
	•	domain: @company.com

Print the email in lowercase

In [6]:
name = input("Enter full name: ")
emp_id = input("Enter employee ID: ")
name_parts = name.split()
first_name = name_parts[0]
last_name = name_parts[-1]

email = (first_name[:3] +last_name[-2:] +emp_id[-3:] + "@company.com").lower()
print (email)

Enter full name:  Sakar Khanal
Enter employee ID:  1234

sakal234@company.com

Q no 6.
pair_collection = ["X","O","O","O","X","X","O","O"]
X and O makes a pair in the pair_collection list how many of them are pairs  and how much unpaired left

In [26]:
pair_collection = ["X","O","O","O","X","X","O","O"]
X_count = pair_collection.count("X")
O_count = pair_collection.count("O")
pair = min(X_count,O_count)
print("no of pairs:",pair)
unpaired = abs(X_count - O_count)
print ("no of unpaired :",unpaired)

no of pairs: 3
no of unpaired : 2

### Tuples

In [11]:
# Tuples are imutable, meaning you cannot change their elements after creation
# Uncommmenting the line below would rise a TypeError

my_tupple = (1, "apple", 3.14, True)
#my_tupple[1] = "banana" # Error object

In [14]:
# ML model

#scalar preprocessing_model
trained_model_obj = train()

packed_model = scalar, preprocessing_model, trained_model_obj

NameError: name 'train' is not defined

### Dictionary

A dictionary is a collection of key value pairs in Python.

Unlike lists and tuples, dictionaries are unordered (ordered after 3.6) and mutable

Each key-value pair in a dictionary is unique 

Keys must be unique and immutable(strings, numbers, and tuples are acceptable)

my_dict={key1: value1, key2: value2, key3: value3}

In [24]:
student = {
    "name":"John",
    "age":25,
    "courses":["Math","Science"],
    "graduated":True,
    "hobbies":{"physical":("football","basketball"),"mental":("chess","quiz")},
    ("male","female"):"male"
    
}
student

{'name': 'John',
 'age': 25,
 'courses': ['Math', 'Science'],
 'graduated': True,
 'hobbies': {'physical': ('football', 'basketball'),
  'mental': ('chess', 'quiz')},
 ('male', 'female'): 'male'}

In [8]:
food_prices = {'chicken_momo:100','buff_momo:90','chicken_chowmin:100'}
food_prices

{'buff_momo:90', 'chicken_chowmin:100', 'chicken_momo:100'}

In [10]:
fruits_protein = {}
fruits_protein['banana'] = 0.1
fruits_protein['apple'] = 0.3
print(fruits_protein)

{'banana': 0.1, 'apple': 0.3}

In [14]:
food_prices = {
    'chicken_momo': 100,
    'buff_momo': 90,
    'chicken_chowmin': 100
}

food_prices['chicken_momo'] = 200
food_prices['buff_momo'] = 150
food_prices['chicken_chowmin'] = 160

print(food_prices)

{'chicken_momo': 200, 'buff_momo': 150, 'chicken_chowmin': 160}

In [16]:
#Nested dictionary
momo = {"chicken":100, "buff":80}
chowmin = {"chicken":110, "buff":90}

food_prices = {"momo":momo,"chowmin":chowmin}
print(food_prices)

{'momo': {'chicken': 100, 'buff': 80}, 'chowmin': {'chicken': 110, 'buff': 90}}

### Accessing

In [23]:
student = {
    "name":"John",
    "age":25,
    "courses":["Math","Science"],
    "graduated":True,
    "hobbies":{"physical":("football","basketball"),"mental":("chess","quiz")},
    ("male","female"):"male"
    
}
student

# What is the first physical hobbies?
student["hobbies"]["physical"][0]

'football'

In [32]:
food_prices = {'momo':100,'chowmin':90}

food_prices["momo"]  #item assign garna milcha
# food_prices['momo'] = 500

price_of_pizza = food_prices.get("pizza",250)
print(price_of_pizza)

250

In [29]:
food_prices.get("momo") #access matra

100

#### Removing items

In [7]:
# Using pop() to remove key-value pair and get the value
food_prices = {
    'chicken_momo': 100,
    'buff_momo': 90,
    'chicken_chowmin': 100
}

removed_price = food_prices.pop('chicken_momo')
print(removed_price)
print(food_prices)

100
{'buff_momo': 90, 'chicken_chowmin': 100}

In [8]:
del food_prices['buff_momo']
print(food_prices)

{'chicken_chowmin': 100}

In [41]:
# Using popitem() to remove the last inserted key-value pair
food_prices = {
    'chicken_momo': 100,
    'buff_momo': 90,
    'chicken_chowmin': 100
}

last_item = food_prices.popitem()

print(last_item)
print(food_prices)

('chicken_chowmin', 100)
{'chicken_momo': 100, 'buff_momo': 90}

#### Dictionary Methods

.get("key_name")   # to get value of a key
.keys()            # to get all keys
.values()          # to get all values
.items()           # to get all key-value pairs
.clear()            # removes all items from the dictionary

In [9]:
print(food_prices.keys())
print(food_prices.values())
print(food_prices.items())
print(food_prices.clear())

dict_keys(['chicken_chowmin'])
dict_values([100])
dict_items([('chicken_chowmin', 100)])
None

### Set

Set is an unordered collection of unique  elements in Python

Unlike lists or tuples, sets do not store elements in a specific order

they do not allow duplicate values

sets are mutable

NO Indexing : Unlike lists or tuples, you cannotaccess elements in a set by index.

My_set = {element_1, element_2, element_3}

In [2]:
a = {1,2,3,3,2,1}

s2 = set("Python")

s3 = set([45,67,87,36,55])

In [3]:
a = [1] #yesto garna mildaina
a[1] = 2

IndexError: list assignment index out of range

#### Set methods

In [6]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
.re
# Difference: elements in set1 but not in set2
set1.difference(set2)
# Output: {1, 2}

# Intersection: common elements
set1.intersection(set2)
# Output: {3, 4}

# Union: all unique elements from both sets
set1.union(set2)
# Output: {1, 2, 3, 4, 5, 6}

# Subset: is every element of set1 in set2?
set1.issubset(set2)
# Output: False

# Superset: does set1 contain all elements of set2?
set1.issuperset(set2)
# Output: False

False

In [ ]:
.remove("item1") # If the element is not found it raises a key error
.discard("item1") #No error if not found: does nothing
.pop() #pop pani garna milcha tara last bata pop huncha vanne hunna , since sets are unordered

.clear()# Clearing the set

In [7]:
# set operations
a = {1,2,3}
a.add(10)
a.add((10,10))

a

{(10, 10), 1, 10, 2, 3}

In [8]:
a.update([-1,-2,-5])

a

{(10, 10), -1, -2, -5, 1, 10, 2, 3}

In [9]:
a.discard(11) #discard doesnot throw error

a

{(10, 10), -1, -2, -5, 1, 10, 2, 3}

In [10]:
a.remove(11) #remove thhrows error aru same as discard

a

KeyError: 11

### Boolean

In [15]:
is_boolean = True
print(is_boolean)

is_boolean = bool("False")
print(is_boolean)

is_boolean= False or bool(0) or bool("") or bool({}) or bool([])
print(is_boolean)

is_boolean = False and bool(1) and bool("hi") and bool({1:2}) and bool([1])
print(is_boolean)

True
True
False
False

## Operators

### Arithmatic

| Operator | Description        | Example        |
|---------:|--------------------|----------------|
| `+`      | Addition           | `5 + 3 = 8`    |
| `-`      | Subtraction        | `5 - 3 = 2`    |
| `*`      | Multiplication     | `5 * 3 = 15`   |
| `/`      | Division           | `5 / 3 = 1.66` |
| `//`     | Floor Division     | `5 // 3 = 1`   |
| `%`      | Modulus            | `5 % 3 = 2`    |
| `**`     | Exponentiation     | `5 ** 3 = 125` |

### Comparison Operator

| Operator | Description                    | Example            |
|:--------:|--------------------------------|--------------------|
| `==`     | Equal to                       | `5 == 3 → False`   |
| `!=`     | Not equal to                   | `5 != 3 → True`    |
| `>`      | Greater than                   | `5 > 3 → True`     |
| `<`      | Less than                      | `5 < 3 → False`    |
| `>=`     | Greater than or equal to       | `5 >= 3 → True`    |
| `<=`     | Less than or equal to          | `5 <= 3 → False`   |

### Logical Operator

| Operator | Description                                      | Example                  |
|:--------:|--------------------------------------------------|--------------------------|
| `and`    | Returns True if both expressions are True        | `True and False → False` |
| `or`     | Returns True if one of the expressions is True   | `True or False → True`   |
| `not`    | Reverses the boolean value                       | `not True → False`       |

### Bitwise Operators

In [24]:
a = 5 # 0101 in binary
b = 3 #0011 in binary

print ("Bitwise AND", a & b)  #1
print ("Bitwise OR:", a | b)   #7
print ("Bitwise XOR:", a ^ b)  #6
print ("Bitwise NOT:", ~a)     #-6
print ("Left Shift:", a << 1)  #10
print ("Right Shift:", a >> 1)  #2

Bitwise AND 1
Bitwise OR: 7
Bitwise XOR: 6
Bitwise NOT: -6
Left Shift: 10
Right Shift: 2

### Operator Precidence & Associavity

10 + 20 * 30  is calculated as 10+(20*30)
and not as (10+20)*30

In [25]:
10+20*30

610

In [26]:
4+6/2

7.0

In [27]:
(4+6)/2

5.0

In [28]:
(3+6)*6-9/3+20

71.0

### Conditional

In [30]:
if a>b:
    print("a")
elif a<b:
    printa("b")
else:
    printa("equal")

a

In [2]:
age_restricted_movies ={
    "Iron man": False,
    "The Dark Knight": True,
    "Finding Nemo": False,
    "The Lion KIng": False
}

movie_name = input("Enter movie name:")

Enter movie name: Iron man